[2014-10-12 12:48] mefellows opened #1 "Support local DSC Configuration"
- Support custom path to DSC components (specification, configuration and module path)
- Support pass-thru options to DSC CLI
- Environment variable specification (overrides config?)
- Custom environment variables (think Facter tags)
- Allow custom module path (local/remote?)

[2014-10-12 12:49] mefellows opened #2 "CI Build Pipeline"

[2014-10-12 12:49] mefellows opened #3 "Create an example project"

[2014-10-12 12:49] mefellows opened #4 "Support Remote DSC Configuration Server"
Low initial priority

[2014-10-22 05:20] mefellows opened #5 "Run tests on Windows (CI from Appveyor)"

[2014-10-23 02:44] mefellows opened #6 "Map \vagrant to a local network drive by default"
In local testing, provisioning IIS resources with DSC *works* - in that IIS/DSC does not complain, however IIS is unable to properly read the resources off of the file system and therefore does not really work at all.

Provisioning a local network share and using that as the Physical Path in the Basic Settings is an annoying, but effective workaround. See http://stackoverflow.com/questions/2263610

[2014-10-23 02:52] #3 closed, assigned to nobody

[2014-10-23 02:52] #2 closed, assigned to nobody

[2014-11-02 02:49] #1 closed, assigned to nobody

[2014-11-02 03:19] mefellows opened #7 "Better output format from WinRM shell"
WinRM communicator appears to send output back periodically to Vagrant in an ugly XML format. Make this nicer so output back to the user is sensible.

[2014-12-03 11:00] Jonne opened #8 "Incorrect folder added to modulepath"
First of all, thanks for this great plugin!

When I add a module folder, this path is added to the powershell module path: /tmp/vagrant-dsc-3/modules-0; and it cannot find the module.

If I change it to a valid Windows path: C:\tmp\vagrant-dsc-3\modules-0 it does work.

Am i using it wrong or is this a bug?

[2014-12-06 11:36] #8 closed, assigned to nobody

[2015-01-07 11:46] mefellows commented on #6
NOTE: Vagrant 1.7 supports local shares from/to Windows/Linux guests which may make this redundant. The solution would be to use network shares instead of the default VM shared folder.

[2015-01-07 15:35] Jonne commented on #7
Can we do something like this? http://msdn.microsoft.com/en-us/library/aa384351%28v=vs.85%29.aspx

[2015-01-07 17:07] dylanmei opened #11 "Powershell error when config has no module_paths"
Given this config, without a `module_paths` declared:

    config.vm.provision "dsc" do |dsc|
      dsc.manifests_path = "../dsc"
      dsc.configuration_file = "Site.ps1"
      dsc.configuration_params = {
        "-NodeName" => "localhost",
      }
    end

I get the error:

    Resolve-Path : Cannot bind argument to parameter 'Path' because it is an empty string.
    At C:\tmp\vagrant-dsc-runne

[2015-01-07 17:15] dylanmei opened #12 "The term '\tmp\vagrant-dsc-1\Site.ps1' is not recognized..."
Given the following config:

    config.vm.provision "dsc" do |dsc|
      dsc.manifests_path = "../dsc"
      dsc.configuration_file = "Site.ps1"
      dsc.configuration_params = {
        "-NodeName" => "localhost",
      }
    end

I get this failure in the runner script.

    The term '\tmp\vagrant-dsc-4\Site.ps1' is not recognized as the name of a cmdlet, function, script file, or operable pro

[2015-01-07 21:39] mefellows commented on #11
Thanks @dylanmei, looks like a sloppy error check in the template. I'll take a look at this today.

[2015-01-07 21:41] dylanmei commented on #11
No troubs. Thanks for this plugin!

[2015-01-08 01:15] mefellows commented on #12
OK, looks like there is a bug with relative paths that traverse the tree backwards (ironically similar to the other issue we've [seen](https://github.com/packer-community/winrmcp/issues/1) recently!).

Hopefully will wrap up a fix for this today/tonight. Good spot.

For the time being, a workaround would be to move the `dsc` folder to the same dir as the `Vagrantfile`.

Cheers,
Matt

[2015-01-08 10:16] mefellows commented on #11
OK, I believe PR #13 should fix this issue - when you get a chance do you mind verifying with the latest release (I have pushed v1.0.3 to RubyGems)?

[2015-01-08 10:16] mefellows commented on #12
OK, I believe PR #13 should fix this issue - when you get a chance do you mind verifying with the latest release (I have pushed v1.0.3 to RubyGems)?

[2015-01-08 10:36] mefellows opened #14 "Vagrant up on the development folder fails"
See #10 for context.

Running `vagrant up` on the development folder results in:

[code]

[2015-01-08 10:44] mefellows commented on #14
@Jonne, in order to diagnose this problem further, can you please:

* Update to the latest vagrant-dsc plugin (should be 1.0.3): `vagrant plugin update vagrant-dsc`
* Clean your working environment (ensure you're working from this code base's master branch)
* Destroy and run a clean vagrant box: `vagrant destroy && VAGRANT_LOG=debug vagrant up`
* Upload the detailed output to a gist and provide a

[2015-01-08 12:12] mefellows commented on #7
Possibly, from memory it was difficult to get access to the XML due to the way it was being slurped by the WinRM communicator. I'll investigate (it does bug me!).

[2015-01-08 12:38] mefellows commented on #14
Hmm, funny thing, it seems it only works on a 2012r2 image if I run provision at least twice. The first provision fails when it runs DSC:

[code]
It could be the use of the [SEEK DSC](https://github.com/SEEK-Jobs/DSC/) installation via Chocolatey, even unblocking the modules in advance doesn't seem to help. Will talk to my resident DSC expert tomorrow and hopefully nut this out - should be somethi

[2015-01-08 13:53] dylanmei commented on #12
Works like a charm. Thanks!

[2015-01-08 13:53] #12 closed

[2015-01-08 13:53] dylanmei commented on #11
Works like a charm. Thanks!

[2015-01-08 13:53] #11 closed

[2015-01-09 03:25] mefellows commented on #11
Great - thanks!

[2015-01-09 03:25] mefellows commented on #12
Great - thanks!

[2015-01-11 11:18] mefellows commented on #14
As a debugging note, locally i've started to isolate what specifically requires DSC to be run twice. My results:

* Using only a the File resource in a configuration, DSC runs perfectly on the first go
* Using the MyWebApp composite resource also works on the first go
* Adding the [cWebAdministration](https://github.com/orgs/SEEK-Jobs/) resource to the Configuration requires 2 attempts.

I will ne

[2015-01-12 23:25] mefellows commented on #14
NOTE: I have c]reated a new Windows 2012r2 standard server [Vagrant box](https://atlas.hashicorp.com/mfellows/boxes/windows2012r2) and the issue persists.

[2015-01-14 12:08] mefellows commented on #14
Seems there may be an issue specific to the cWebAdministration module in the SEEK-Jobs/DSC resource. For now, I have temporarily replaced it with the xWebAdministration module and now it works on first boot.
@Jonne Would you like to give this a try?

[2015-01-28 21:30] mefellows opened #15 "Support -ConfigurationData flag"
Currently, the DSC -ConfigurationData parameter can be passed in via the `configuration_params` provisioner config, however it can be tedious to refer to the file on the mapped paths on the guest.

Having a dedicated parameter also makes sense as it is common (and generally good) practice to do so.

[2015-01-29 04:46] mefellows commented on #14
@warnergodfrey - Great news, you've hit the nail on the head - `Import-Module WebAdministration` was the culprit! Removing this declaration on a 2012r2 box fixes the problem, and also explains why it works on 2008r2.

Now, to find a solution. I'm hoping we can keep it as simple as something like a check for the command (i.e. `Get-Command`).

[2015-01-29 04:49] mefellows commented on #15
Closing as PR #16 completes this enhancement.

[2015-01-29 04:49] #15 closed

[2015-02-12 09:51] mefellows commented on #7
Commit fd01df558738935d402e5f8c198695f62887744b fixes this. New version v1.0.5 of gem released.

[2015-02-12 09:51] #7 closed

[2015-10-27 13:35] AshleyPoole opened #18 "Passing Nil To configuration_file"
Hi,

I'm trying to set the configuration_file variable in the Vagrant file to nil but I cannot seem to get it to work. Could you provide an example as I'm trying to use precompiled mof files but cannot.

One possibility is it might be a bug? Within config.rb, line 97 sets the default value to "Default.ps1" if a value isn't given, yet on line 117 the variaibile is tested to see if it's null as to a

[2015-11-01 06:30] mefellows commented on #18
Thanks @AshleyPoole. Looks like it might be a bug actually, obviously I've anticipated this scenario but it appears as if its not properly implemented (include Tests). Happy for you to submit a patch with tests and i'll update the plugin?

[2015-12-13 21:26] AshleyPoole commented on #18
@mefellows can you provide some basics / README for developers?

I've got all the gems installed needed and wanted to run the tests before making the bugfix but I'm getting  "require': cannot load such file -- vagrant (LoadError)". I already have Vagrant installed on my device (OS X) and running gem for Vagrant says the package is no longer being updated and to use the native installer (already in

[2015-12-14 09:35] mefellows commented on #18
Hi @AshleyPoole, I've updated the `README.md`, hopefully that helps.

As a TL;DR - you need to execute tests via Bundler i.e. `bundle exec rake spec`.

Thanks for chipping in!

[2015-12-14 20:58] AshleyPoole commented on #18
@mefellows Thanks the README.md has helped a lot and I've got tests around the area though I'm unsure yet how to approach this; It's unclear from the README.md what parameters you want set for each of the two modes - precompiled MOF's VS compile MOF's.

I believe if you could update the README.MD to have a example of two usages this will help make things a little clearer to what is needed or not n

[2015-12-20 20:36] mefellows commented on #18
No worries at all. I would suggest that if `mof_path` is set then `configuration_name`, `configuration_data_file_path`, `configuration_file_path` are all not required, in fact they should be ignored. Once you have a MOF file, you have everything you need (except possibly any paths to modules i.e. `module_paths`) to run the DSC configuration.

I'll update the README accordingly.

[2015-12-20 20:46] mefellows commented on #18
Also, looking at https://github.com/mefellows/vagrant-dsc/blob/master/lib/vagrant-dsc/templates/runner.ps1.erb#L18-L20 it feels like they should be moved to under line 23 and the default setting of `default.ps1` rule removed, to allow for "MOF mode" (for want of a better term) to work. This will need some minor refactoring, but at a glance should begin to address your problem from above.

[2015-12-29 23:56] it-praktyk opened #20 "The proposal of enhancement - use BoxStarter to install/update WMF"
In the README we can find "We may consider automatically installing and configuring DSC in a future release of the plugin."

I think that this can be achieved using BoxStarter - http://boxstarter.org/ .

I can prepare packages but I don't have experience in Ruby.

[2016-01-04 21:32] mefellows commented on #20
Hi @it-praktyk, if you wanted to prepare a package I would see what I could do about integrating it. The base Windows image would always need at the very least WinRM configured, which is something possible to do with Packer as is DSC itself. I haven't really come across a use case that needed DSC for that reason. Either way, if the BoxStarter script is something that's easy enough to run _programm

[2016-06-14 22:56] dragon788 commented on #14
I'm running into this issue as well. I changed the path to simply remove the C:\\ and it worked for getting past the mkdir C:\ -force error (which I think is a Vagrant bug as seen in the #7435 above). But now I'm hitting the same can't find module issues.

I noticed that all the SEEK modules were mentioning moving to the Powershell official repos, are there any plans to update this repository in t

[2016-06-14 23:16] dragon788 commented on #14
I think I found part of the problem, you replaced the cWebAdministration portion, but when you updated for the new Vagrant version that got pulled back out and replaced with just the SEEK-DSC package again.

[2016-06-19 03:57] mefellows commented on #14
Hi @dragon788.

I reverted to the SEEK-DSC resources as the fix was applied (https://github.com/SEEK-Jobs/DSC/pull/23).

I'm not aware of any migration documents but yes as I understand those modules have been merged into the official repos (which is awesome!).

That being said, I just attempted a fresh install on Vagrant 1.8.1 and a vagrant-up on the development folder and all was successful.

I'

[2016-06-19 04:11] mefellows commented on #14
Just tried with vagrant version 1.8.4 also, worked a treat.

Are you able to please put together some of the debugging notes from https://github.com/mefellows/vagrant-dsc/issues/14#issuecomment-69163299? That might help get to the bottom of it all.

I note you're running on Windows. I can't test this locally so it's just a guess, but if the files aren't syncing to the remote machine then the DSC w

[2016-06-21 12:09] deluxebrain opened #21 "verify_shared_folders fails even when powershell returns exitcode=>0"
```vagrant up``` is failing for me with the following error:

```Shared folders not properly configured. This is generally resolved by a 'vagrant halt && vagrant up'```

Running with ```--debug``` Im getting the following log entries:

```INFO dsc: Checking for shared folder: /tmp/vagrant-dsc-6/dsc/manifests/```

This executes the following script:

[code]

Which in turns returns with a zero exit

[2016-06-22 01:08] mefellows commented on #21
Looks like a bug, thanks for raising.

[2016-06-22 19:47] deluxebrain commented on #21
Thanks for the reply. I've spent some time digging into the issue and I think the problem actually lies with the vagrant winrm plugin and/or the exact combinations of powershell tooling related installs I've made on the packer image. This appears to lead to the situation where powershell calls over winrm returns the exit code in a garbled mess of xml.

I'll try to get some time to dig further - bu

[2016-06-23 19:37] dragon788 commented on #21
@deluxebrain I'm curious what the WinRM settings of the box you are using are, memory limits, process limits, authentication=simple etc or are you using the default mfellows/win2012r2?

[2016-06-23 21:54] dragon788 opened #22 "mfellows/win2012r2 v1.0.1 missing metadata.json"
Was trying to use your example box from the development Vagrantfile and get a 404 when trying to pull the box (because 1.0.0 is specified) and looking in the Atlas repo I see that 1.0.1 is the latest, but trying to pull it I get an error about metadata.json missing.

```The "metadata.json" file for the box 'mfellows/windows2012r2' was not found.```

[2016-06-23 21:58] dragon788 opened #23 "mfellows/win2012r2 v1.0.0 missing box on Atlas"
Appears to have been externally hosted and Atlas can no longer resolve the box address.

[2016-06-23 22:08] mefellows commented on #23
I think I have the box on my work machine - i'll try to upload today.

[2016-06-23 22:08] mefellows commented on #22
As per #23,  I _think_ I have the box (or at least one of them) on my work machine - i'll try to upload today. Something fishy going on!

[2016-06-24 19:33] deluxebrain commented on #21
@dragon788 Im setting up winrm in the aws user-data file as follows:
MaxMemoryPerShellMB=1024
Authentication=Basic
The rest Im assuming just defaults to "sensible values".
Cheers

[2016-06-24 23:45] mefellows commented on #21
Interesting - are you using Vagrant DSC with the AWS plugin?

[2016-06-25 11:07] deluxebrain commented on #21
Apologies - I've moved onto performing the DSC provisioning within Packer (using your pcaker-dsc plugin) and at the same time moved to AWS as the virtualisation layer. This is all working perfectly.

My issue with vagrant-dsc plugin is with vagrant images build out using packer and the vbox builder (as per blog 1 in your series) and using Windows Server 2012 R2 images downloaded from Microsoft Tec

[2016-06-27 11:53] mefellows commented on #21
I recall there being some weirdness when implementing this. It's possible there was a change in Vagrant or an upstream project that has meant this implementation has been impacted, but i've seen this before. Let me dig a bit further and come back to you.

P.S. Also, thanks for the kind words above! I was responding to a few issues on my mobile and was a bit hasty!

[2016-06-27 11:59] mefellows commented on #6
Actually real-word experience tells me this isn't the best idea - prefer rsync to this solution. Closing.

[2016-06-27 11:59] #6 closed

[2016-06-27 12:00] mefellows commented on #22
In the process of uploading a 1.0.1 box from home - this could take a while (thanks Windows). cc: #23

[2016-06-27 12:33] mefellows commented on #21
I'm hoping the installed SSH isn't conflicting and am interested to hear back.

Looking at the output from above (the XML-ie stuff), that is all standard winrm XML.

I think the culprit is https://github.com/mitchellh/vagrant/blob/master/plugins/communicators/winrm/communicator.rb#L168 coupled with something in the operating environment (new PoSH setup, for instance). If you notice, even if exit c

[2016-06-27 12:36] mefellows commented on #21
OK, [this](https://github.com/mitchellh/vagrant/commit/c4422d7c70312de67266e368316da40cbaca6cff) was only committed 3 days after the initial DSC plugin release! I'd say this is likely part of the problem.

[2016-06-27 20:49] mefellows commented on #21
@deluxebrain can you please confirm if the issue happens after the first time, if you re-provision the box (with `vagrant provision --provision-with dsc`) after a reboot (e.g. `vagrant reload`)?

[2016-06-27 21:12] deluxebrain commented on #21
@mefellows Thanks for taking a look at this today and posting your thoughts - very interesting to follow along.
Just gone through the ```vagrant up; vagrant reload; vagrant provision --debug --provision-with dsc``` steps you list above and its giving the same error (i.e. the exit code of 0 combined with the presence of a stderr as you noted above).

[2016-06-27 21:13] mefellows commented on #21
No worries. I've  pushed a new version (`v1.0.8). Do you mind upgrading and testing to see if this has fixed the issue? (Based on your comment just now it probably won't). I'll take a look again a bit later.

[2016-06-27 21:29] deluxebrain commented on #21
Thanks. As you expected - just re-ran the above steps using v1.0.8 and same error.

[2016-06-27 21:45] mefellows commented on #21
Thanks Matt, back to the drawing board! Can you please confirm the guest os
that you're running and any provisioning performed on it before vagrant
gets a hold of it? Also any Vagrantfiles or Packer scripts if you can share?
On 28 Jun 2016 7:29 am, "Matt Caton" <notifications@github.com> wrote:

[2016-06-29 09:53] deluxebrain commented on #21
Absolutely.
Its all currently private repos stuff. I will factor our the core stuff into some gists and share it. Gimme a day or two.

[2016-06-29 11:08] mefellows commented on #21
Thanks Matt, no worries.

On Wed, Jun 29, 2016 at 7:53 PM, Matt Caton <notifications@github.com>
wrote:

--
Matt Fellows
- http://www.onegeek.com.au/

[2016-06-30 11:48] mefellows commented on #22
Box has been uploaded (finally). I haven't pulled the thing all the way back down, but running `vagrant init mfellows/windows2012r2; vagrant up --provider virtualbox` starts the download process.

Let me know how you go, closing for now.

[2016-06-30 11:48] mefellows commented on #23
Box has been uploaded (finally). I haven't pulled the thing all the way back down, but running `vagrant init mfellows/windows2012r2; vagrant up --provider virtualbox` starts the download process.

Let me know how you go, closing for now.

[2016-06-30 11:48] #23 closed

[2016-07-03 19:24] deluxebrain commented on #21
@mefellows Hey Matt. Took a little while but finally got around to pulling out the packer and vagrant configuration into a [separate repos](https://github.com/deluxebrain/play-vagrant-dsc).

This contains:
1. The packer builder *raw* that builds out a vagrant image ready for Vagrant to provision via your vagrant-dsc plugin
2. An additional builder called *baked* that does the same step as Vagrant

[2016-07-04 08:53] mefellows commented on #21
Awesome work Matt, I should be able to look at this tomorrow night and hopefully can get to the bottom of it. Good point around updates. My head has been out of this game for a little bit so hopefully with this it will trick me back into taming Windows :)

Thanks for the kinds words!

[2016-07-04 08:57] deluxebrain commented on #21
Windows updates look to all be running in - now that I've moved them to Boxstarter and .... set the winrm timeout to 24 hours!

Unfortunately can't find a publicly url addressable Windows iso that is anywhere near fully patched...

[2016-07-04 12:58] dragon788 commented on #21
I'd suggest taking a look at MWrock's Packer templates if you want to use
boxstarter for really easy application of Windows updates and it handles
the reboots as well. The main difference is he applies them via
unattend.xml so that the reboots don't cause packer to move onto the next
provisioner.
On Jul 4, 2016 3:53 AM, "Matt Fellows" <notifications@github.com> wrote:

[2016-07-04 13:22] deluxebrain commented on #21
@dragon788 Yep - spent a good proportion of my weekend trying to get it to work as part of a packer provisioning step! You mentioned a few comments up about Matt Wrock using Boxstarter as part of the autounattend (which I had completely missed) and re-reading that article everything snapped into place. Cheers for help - appreciated.

[2016-07-04 17:19] deluxebrain commented on #21
@mefellows nearly a day later and the Windows updates have all run in successfully.

However - looks like I've mucked up the Vagrant shared folder setup as part of removing rsync ( as part of simplifying the build ). I'll get that sorted out - and until I have its probably not worth you looking at the issue (don't want to waste any of your time)

Cheers

[2016-07-05 22:23] mefellows commented on #21
No worries Matt - yeah those updates can be sloooow. Keep us in the loop, I'm keen to see where we get to with this.

[2016-07-14 14:33] dragon788 commented on #22
@mefellows Still getting the error about a missing metadata.json. I'm grabbing the box "by hand" to pop it open and see if there is something about the internal structure that is missing or corrupted.

[2016-07-14 14:45] dragon788 commented on #22
Upon opening the 1.0.1 virtualbox.box file it internally is showing a version 1.0.0 and the metadata.json does exist in that folder. I wonder if the fact that the internal version and external versions don't match is what is causing the metadata.json error. Did you repackage the box using vagrant on your local machine and perhaps it didn't bump the version before you uploaded?

[2016-07-14 14:52] dragon788 commented on #23
The actual error I get when trying to download this version 1.0.0 "by hand" is that the Amazon bucket it was associated with no longer exists.

https://s3-ap-southeast-2.amazonaws.com/onegeekau/packer/windows2012r2.box

<Error>
<script/>
<Code>NoSuchBucket</Code>
<Message>The specified bucket does not exist</Message>
<BucketName>onegeekau</BucketName>
<RequestId>76E3BE65047B08BB</RequestId>
<HostI

[2016-07-14 15:29] dragon788 commented on #22
It appears that the structure of this one is actually set up incorrectly. I compared to a Vagrant box built using Packer and it only has the Vagrantfile/metadata.json/*.vmdk/box.ovf in the .box file, where this one has it nested layers deep.

[2016-07-14 16:06] dragon788 commented on #22
Upon unpacking and repacking only the contents of the 'virtualbox' folder into the box file I was able to successfully add and up the box from my local Vagrant repository server.

[2016-07-14 23:08] mefellows commented on #22
Oh my goodness, how silly of me! Re-opening so that I can upload a valid one. Thanks for following this up @dragon788.

[2016-07-14 23:12] mefellows commented on #23
Yep I removed it in a cleanup a while ago. The 1.0.1 is the correct version (there were issues with that box). I'll see if I can remove/deprecate it.

[2016-07-18 16:38] dragon788 commented on #14
I wonder if the first failure may be due to pending Windows Updates causing issues. I just ran into this where I was attempting to run the Vagrantfile against another box and even though I was updating PowerShell and trying to install the latest version of DSC, without a reboot PowerShell wasn't getting updated, but it also wasn't properly installing any modules due to some other pending reboot fr

[2016-07-18 16:40] dragon788 commented on #20
@it-praktyk I've been trying to combine this repo and this other one, https://github.com/mwrock/packer-templates to get the best box for testing DSC in addition to keeping it updated with Boxstarter/Chocolatey for easier package management, but its been slow going since I keep running into issues and Windows Updates on Virtualbox are horrendously slow when it goes through NAT. If you can configure

[2016-07-22 17:37] dragon788 commented on #21
@mefellows I definitely think this is a combination of PowerShell 5 and the WinRM(fs) gems. I was getting a straight up failure of any shell provisioning step after I updated to PowerShell 5 because it spits out "Preparing modules for first use" which must fall to stderr since it probably isn't written to the stdout stream but rather to the debug stream with Write-Debug, but WinRM doesn't support

[2016-07-22 17:38] dragon788 commented on #20
@it-praktyk I have been testing with a @mwrock template that uses Boxstarter but if I install PowerShell 5 it is currently breaking the DSC plugin. See #21 for more details, but if we can work around that I'd be happy to contribute the template that I modified that includes DSC "out of the box".

[2016-07-27 21:37] mefellows commented on #20
That would be great @dragon788!

[2016-07-27 21:39] mefellows commented on #21
Great debugging work there @dragon788! Hopefully this is something we can handle gracefully within the plugin otherwise a patch to WinRM ruby might be the sln.

[2016-07-27 22:14] it-praktyk commented on #20
Sorry, that I didn't answer previously. I'll try check this soon.

[2016-07-28 17:45] dragon788 commented on #21
And the plot thickens. It appears that removing the Chocolatey generated PowerShell profile actually works around this issue. We'll see if it blows up when there is another progress bar generated, but at the very least this works around the "Preparing modules for first use" that was popping up and breaking things. Chocolatey also has a note about fixing this by not adding a default profile if it i

[2016-07-28 17:51] mwrock commented on #21
Just stumpled on this thread...I have definitely suffered much pain from the "Preparing modules for first use" issue. The fix is usually to put `$ProgressPreference = 'SilentlyContinue'` first thing in the script. The winrm gem injects this for you which solves most cases. The winrm-v2 gem will be able to parse the separate powershell streams more cleanly and will never leak the progress stream in

[2016-07-28 17:57] dragon788 commented on #21
@mwrock Can't wait for v2, hopefully Hashicorp gets it pulled into Vagrant sooner than later. It appears from #7476 I referenced above that it has taken them a while to update previously.

[2016-07-28 18:00] mwrock commented on #21
Yes I will pull it in shortly after its released.

[2016-07-28 22:30] mefellows commented on #21
Thanks guys, so @dragon788 have you attempted the fix @mwrock suggested?

If three Matt's and a dragon can't solve this then there is no hope for humanity!

[2016-07-29 05:48] dragon788 commented on #21
I haven't tried with the silently proceed yet, my OCD made me fix a spot where a couple lines were blurring together and then I headed out of the office for a week of vacation. I may take a look while I'm on the road to see if it fixes the issue with the Chocolatey profile in place, but so far without the profile it has been doing all the DSC things pretty well (despite me doing weird stuff like p

[2016-07-29 21:39] dragon788 opened #25 "Add support for 'partial configuration'"
This is a new feature of PS5 that allows for creating multiple separate configurations that may depend on each other and ensures that they get applied in the correct order. This feature can used for both push and pull configs (but possibly not from SMB pull servers yet?) and requires each config to be called with `Publish-DSCConfiguration` or `Update-DSCConfiguration` (depending on Pull or Push or

[2016-07-30 02:43] mefellows commented on #25
Thanks @dragon788, I've been out of the DSC game for a little bit. Can you point me to some good material on the subject?

[2016-07-30 02:47] mefellows commented on #21
No worries @dragon788, I'll take a look at the PR shortly. Enjoy the break :-)

[2016-08-12 20:38] dragon788 commented on #25
@mefellows Here's the "official" docs, https://msdn.microsoft.com/en-us/powershell/dsc/partialconfigs

[2016-08-16 16:27] ferventcoder commented on #21
Choco 0.10.0 fixed the issue of creating a profile.

[2016-08-18 17:44] dragon788 opened #27 "Match MyConfig/MyWebSite names in example development module for better DRY in the Vagrantfile"
Here's a snippet of the tweak I made to my Vagrantfile so I could more easily change which module I was testing with the 'dsc' provisioner. It also hints at how I've been hacking around running multiple partial configs (which in truth are complete modules, the partial comes from how the LCM applies them in pieces to achieve a final desired state).

[code]

[2016-08-18 20:36] mefellows commented on #27
Yep, good idea 👍

[2016-08-19 01:42] mefellows commented on #21
Will give the profile a shot - thanks all!

[2016-08-24 16:53] dragon788 commented on #18
Just ran into this myself. I wanted to test a MOF and see if it would apply cleanly but even with all the configuration file options commented it throws the warning.

I tried moving the check for both the @config and @mof being defined to BEFORE the @config gets assigned the default.ps1 value (making it never nil before the nil check), but I think there may be a cached copy somewhere (I was hackin

[2016-08-25 11:33] StefanSchoof opened #28 "xActiveDirectory module is not found correct in modules"
I try to set a dc with vagrant-dsc using the xActiveDirectory DSC Module. I put the module in the modules Folder and when provision I get the error:
[code]
Running

[code]
found the xActiveDirectory module.

Copy the xActiveDirectory in the C:\Users\vagrant\Documents\WindowsPowerShell\Modules gives me the same error, but it works if I copy the module to C:\Users\vagrant\Documents\WindowsPowerShell

[2016-08-27 21:49] mefellows commented on #28
Interesting. Have you tried running `vagrant provision` or `vagrant reload --provision` multiple times? I wonder if it's not picking it up the first time or something.

Also, I've had issues in the past with putting the upstream PoSH modules anywhere but the officially sanctioned paths (e.g. `C:\\Program Files\WindowsPowerShell\Modules`). Could you also please try popping the resource there?

[2016-08-29 10:56] StefanSchoof commented on #28
Running multiple times and reboot does not change anything. Running the C:\tmp\vagrant-dsc-runner in the guest direct does also not help.

Copy it to the `C:\Program Files\WindowsPowerShell\Modules`  works (my curent workaround is `Copy-Item C:\\vagrant\\modules\\* -Destination 'C:\\Program Files\\WindowsPowerShell\\Modules' -Recurse -Force`)

This not the same error message, as when the modules i

[2016-08-31 10:49] mefellows commented on #28
Hmm that's no fun. Does the example project work for you?

[2016-08-31 11:26] StefanSchoof commented on #28
The example project requires the version 1.0.0, which gets me the error `The requested URL returned error: 403 Forbidden`
When delete the version line, I run into https://github.com/mefellows/vagrant-dsc/issues/22.

[2016-08-31 11:27] mefellows commented on #28
Ah yes, I need to get onto that. I'll try to fix that now (it will take a while to upload, sadly).

[2016-09-05 07:35] StefanSchoof opened #29 "running spec on a windows machine has 9 failed test"
Running `bundle exec rake spec` on a windows 10 machine result into 9 Failures. (On Ubuntu everything is fine.) 1 to 4 and 8 sound like no problem in the plugin itself. For the other I am unsure if they are a test bugs or not.
[code]

[2016-09-05 10:19] mefellows commented on #29
Ahh, yes - they're not the most portable tests!

I'm actually going to guess they are all related to paths. The `Error "Path to DSC Configuration Data file does not exist: /oeu/aoeu/notexist.psd1" was not raised` is probably because the path that doesn't exist starts with `c:` or something - might need to add a debug or see what exception is raised.

In any case, I'm happy for you to submit a PR t

[2016-09-05 10:21] mefellows commented on #18
Thanks @dragon788, happy to take PRs on this.

[2016-09-05 10:21] mefellows commented on #27
I'm going to close this one @dragon788. Happy for PR if you feel the docs could be made tidier ;)

[2016-09-05 10:21] #27 closed

[2016-09-22 12:27] mefellows commented on #22
Just a side note here - have tried for the past 3 days straight uploading latest box to no avail. 4th time lucky (hint: `caffeinate -sim`)

[2016-09-27 10:52] mefellows commented on #29
I'm going to close this thanks to your great work.

[2016-09-27 10:52] #29 closed

[2016-09-27 10:53] mefellows commented on #28
FYI a new box has been published. I'm in the process of verifying it now (damn Windows boxes are uuuuugge).

[2016-09-27 10:53] mefellows commented on #22
OK have pushed box back up after a `vagrant box repackage ...`.

[2016-09-27 11:33] StefanSchoof opened #35 "Enhancement: Install-Module support"
With WMF5 there is support for the new [Install-Module](https://technet.microsoft.com/en-us/library/dn807162.aspx) allows installation of Modules.

I think having a list of modules in the vagrant file, for which vagrant-dsc the installation of a module ensures would be great.

In the Vargantfile I think something like:

[code]

I think of adding these modules to the generated runner.ps1 and write

[2016-09-27 11:37] mefellows commented on #35
Love it! Actually I did something similar with the [Packer DSC plugin](https://github.com/mefellows/packer-dsc) - I just haven't had time/need to implement it - so please have at it ;)

[2016-09-27 12:02] StefanSchoof opened #36 "DSC output is not correct on windows"
Th [ugly dance](https://github.com/mefellows/vagrant-dsc/blob/master/lib/vagrant-dsc/provisioner.rb#L245) does not work on a windows host

[code]

Remove the new_line: false, makes the output better:

[code]

Is this on a linux host still required?

[2016-09-27 20:35] mefellows commented on #22
OK overnight I pulled the latest and it came down - closing!

[2016-09-27 20:35] #22 closed

[2016-09-27 20:36] mefellows commented on #28
OK overnight I pulled the latest and it came down. When you get a chance @StefanSchoof could you please try with latest image?

[2016-09-28 01:43] mefellows commented on #36
Sorry @StefanSchoof, I'm not sure I understand the question.

Are you asking if running vagrant-dsc from a linux host is required? (the answer is a definite yes, as this is pretty much the only way I was/am using this).

[2016-09-28 06:52] StefanSchoof commented on #36
In the [run_dsc_apply](https://github.com/mefellows/vagrant-dsc/blob/master/lib/vagrant-dsc/provisioner.rb#L239) is a part for formatting the output

[code]

On a windows host this seems not to work well. So I am asking me, if this has been fixed in vagrant and is no longer required or if this is a host specif problem and has to be done differently on windows and linux.

[2016-09-28 12:23] mefellows commented on #36
ha, no worries @StefanSchoof. I talk to myself out loud, you are welcome to write yourself on GitHub issues :)

[2016-09-30 19:47] StefanSchoof commented on #28
Thanks, next week I have properly no time for this.

[2016-10-06 18:49] reznet opened #38 "bundle install fails"
I'm trying to build the plugin, but get an error from bundler.  I'm attempting to build on mac in order to get the fix from PR 37

je185066@WUSJE185066-13F ~/repos/vagrant-dsc$ bundle install
Your Gemfile lists the gem vagrant-dsc (>= 0) more than once.
You should probably keep only one of them.
While it's not a problem now, it could cause errors if you change the version of one of them later.

[!

[2016-10-06 20:02] mefellows commented on #38
Hi @reznet, apologies I haven't pushed out a new Gem for #37 yet (lost my home internet until mid next week it seems). I'll see what I can do about alternatives.

In the meanwhile, can you please share your bundle and ruby versions for me?

[2016-10-06 20:28] reznet commented on #38
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]
Bundler version 1.13.2

[2016-10-07 12:56] StefanSchoof commented on #22
I can now pull the 1.0.1 and `vagrant up`, but the example [Vagrantfile](https://github.com/mefellows/vagrant-dsc/blob/master/development/web/Vagrantfile#L20) still requires 1.0.0 of this box.

[2016-10-07 13:05] StefanSchoof commented on #28
Using the `mfellows/windows2012r2` box does not change anything. For my purpose I will try to get #35 working and then I have this problem no longer. Should we close this issue?

[2016-10-12 20:37] reznet commented on #38
Hi @mefellows Any update on either a new release or the bundler error?

[2016-10-12 20:52] mefellows commented on #38
Hi Jeff, i haven't had a chance to fix this but i can repro. I'm without
Internet at home at the moment but in the meanwhile you're welcome to
submit a PR. I'd say it's just a dependency cleanup required.

On 13 Oct 2016 7:37 am, "Jeff Evans" <notifications@github.com> wrote:

[2016-10-13 08:48] mefellows commented on #22
Thanks Stefan - have updated that file.

[2016-10-13 08:52] mefellows commented on #28
I think leave this open for now @StefanSchoof, we haven't gotten to the bottom of it yet. If #35 resolves it then great.

In the meanwhile, if modules are put in the right place on the guest machine, DSC _should_ work without the need for `Install-Module`. I think.

[2016-10-14 07:32] StefanSchoof opened #41 "AppVeyor build fails"
AppVeyor seems to updated there ruby environment, which results in build failures:

[code]

See https://ci.appveyor.com/project/mefellows/vagrant-dsc/build/1.0.15

I try to fix this with https://github.com/StefanSchoof/vagrant-dsc/tree/FixBuild but this results in a other error:
[code]

See https://ci.appveyor.com/project/StefanSchoof/vagrant-dsc-276cm

Can we fix this our side or is this a vargra

[2016-10-14 09:31] mefellows commented on #41
Looks to be a dup of #38. Will leave open for now until that is confirmed.

[2016-10-14 09:39] #35 closed

[2016-10-14 09:53] mefellows commented on #38
OK had a look at this tonight. In short, bundler 1.12.5 is the version you need - this is due to a hard dependency in Vagrant.

I'll update the docs, but essentially you can run `bundle _1.12.5_ <command>` and things work as you'd expect.

I've updated the `.appveyor.yml` which sorts out #41 in the process.

[2016-10-14 09:53] #38 closed

[2016-10-14 09:54] #41 closed

[2016-10-14 10:09] mefellows commented on #28
Latest version `v1.1.0` released - let us know if all of your hard work has addressed this :)

[2016-10-14 14:13] StefanSchoof commented on #28
Thanks. I can now set up a DC with the `v1.1.0`. I have to use the xActiveDirectory Version from https://github.com/PowerShell/xActiveDirectory/pull/101.

[2016-10-14 21:27] mefellows commented on #28
Nice! Thanks for the PRs.

[2016-10-14 21:27] #28 closed

[2016-10-18 18:16] reznet commented on #38
thanks for deploying a new release.  verified it fixed the powershell bug i was hitting.  :)

[2016-10-18 20:46] mefellows commented on #38
Nice!

[2016-10-21 07:00] mefellows commented on #36
Gem v1.1.2 released

[2016-10-21 07:08] StefanSchoof commented on #36
Thanks for make a Release this fast

[2016-10-21 07:08] #36 closed

[2016-12-09 03:31] matt-richardson opened #46 "Failing DSC does not fail vagrant build"
I've been finding that if there is an issue with the DSC, it doesn't fail the vagrant build - it just continues onto the next provisioner.

[The code](https://github.com/mefellows/vagrant-dsc/blob/master/lib/vagrant-dsc/provisioner.rb#L132)
[code]
appears to show an error message, but doesn't actually fail the vagrant build.

I suspect it needs to throw an exception here as well.

[2016-12-09 03:31] matt-richardson commented on #46
Let me know if you need a repro.

[2016-12-10 12:09] mefellows commented on #46
Thanks @matt-richardson, hmmm this might be intentional behaviour. From memory, I took inspiration from the Puppet [provisioner](https://github.com/mitchellh/vagrant/blob/9c299a2a357fcf87f356bb9d56e18a037a53d138/plugins/provisioners/puppet/config/puppet.rb) which I believe doesn't fail the build.

It should be fairly easy to adjust, or even add a flag to adjust the behaviour. Would you be interest

[2016-12-10 18:57] matt-richardson commented on #46
I'll give it a go... My ruby is very rusty at the moment though...

[2016-12-11 10:56] #46 closed

[2016-12-21 20:03] yohanb opened #48 "WinRM error after using the xPendingReboot resource"
Hi,

I'm joining a domain using DSC after I have to reboot the machine afterwards.  I'm using the xPendingReboot resource from the [XComputerManagement](https://github.com/PowerShell/xComputerManagement) module.  I'm getting this error from Vagrant after DSC reboots the machine:
![image](https://cloud.githubusercontent.com/assets/812993/21404312/967af2ea-c78e-11e6-9ac4-6789ab70d056.png)

Any ideas

[2016-12-21 22:01] mefellows commented on #48
Hi @yohanb, I haven't seen that one before.

Looks like there are a few other bugs related to this in upstream packages:

- https://github.com/mitchellh/vagrant/issues/7446
- https://github.com/WinRb/WinRM/issues/203
- https://github.com/WinRb/WinRM/pull/191

Might be related?

I suppose it's possible that WinRM just doesn't like the restart?

[2016-12-22 08:06] StefanSchoof commented on #48
I have not seen this error, but some similar.

I think the join domain, set the required reboot in dsc itself and you need no xPendingReboot. But you need to configure your machine to do a reboot (I solved this currently with something like: https://github.com/mefellows/vagrant-dsc/blob/master/development/reboot/Vagrantfile#L4)

What happens if you run after the reboot has finished a `vagrant prov

[2016-12-22 15:35] yohanb commented on #48
@StefanSchoof sure!  I've obviously removed any account info from the files.

**Vagrant file:**
[code]

**DSC file:**
[code]

[2016-12-23 15:17] StefanSchoof commented on #48
I will look at it, but this may take some time.

[2017-01-05 00:35] kamlim1k opened #49 "Configuration file uploaded into wrong place after vagrant halt && vagrant up"
Trying to provision on aws using winrm communicator (using vagrant-aws, vagrant-winrm-syncedfolders plugins additionally). Provision looks like this:

[code]

After initial `vagrant up ` configuration file synced correctly to folder:
[code]
But after doing `vagrant halt && vagrant up` for some reason configuration file synced into
[code]

[2017-01-05 00:55] kamlim1k commented on #49
Hm... Did some additional tests. Looks like it is issue with vagrant-winrm-syncedfolders plugin.
Cimpress-MCP/vagrant-winrm-syncedfolders#11

[2017-01-06 08:09] StefanSchoof commented on #48
I tried to reproduce and I do not get the error. I run Win10, Vagrant 1.9.1, Virtualbox 5.1.12.

[2017-01-07 03:17] mefellows commented on #48
Thanks @StefanSchoof

[2017-01-07 03:21] mefellows commented on #49
Interesting. I'm happy to keep this open until we get a resolution on the linked issue.

[2017-04-03 20:02] phobos2390 opened #50 "Synced folder host path deleting second '/' when resolving on windows on a network drive"
I've been attempting to create a shared folder mapping to a networked windows drive and it has been failing.
The line specifically is
config.vm.synced_folder "//network-drive/home/phobos2390", "/home/vagrant/shared", create: true
When running vagrant up it gives a file not found error for "//network-drive/homephobos2390" meaning that the / between home and phobos2390 is being deleted.

[2017-04-05 11:41] mefellows commented on #50
Thanks @phobos2390, I won't have time to look into this any time soon. A PR would be great, otherwise I'll get to it... when I get to it :)

[2018-05-16 21:54] A-CoreSoporte opened #53 "Access to the path 'C:\tmp\vagrant-dsc\modules-0' is denied using vagrant-dsc"
Hi,

I am having this error trying to use vagrant-dsc to a Windows 2016 Azure.

INFO interface: info: powershell.exe : gci : Access to the path 'C:\tmp\vagrant-dsc\modules-0' is denied.

I tried with 2012 and 2016, and the problem is the same, powershell provisioner run well.

default: Running provisioner: shell...
    default: Running: inline PowerShell script
    default: True    No

[2018-06-27 00:49] matt-richardson opened #54 "New response structure from powershell communicator?"
Been having fun with some random vagrant failures over the last few days. Had some fun issues with

[code]

This appears to be https://github.com/WinRb/winrm-elevated/issues/5, which looks to be included in [vagrant 1.9.2](https://github.com/hashicorp/vagrant/blob/master/CHANGELOG.md#192-february-27-2017):

So we tried upgrading vagrant from `1.8.7` to `2.1.1`, and vagrant-dsc started failing with

[2018-06-27 01:31] matt-richardson commented on #54
We've done the hacky fix in our fork - https://github.com/OctopusDeploy/vagrant-dsc/commit/603c2f1b1f81c77b63035165b3c3889ac22a08eb to unblock us for now, but would really prefer to do it properly.

[2018-06-27 22:52] mefellows commented on #54
Thanks @matt-richardson! I won't have time to look into this any time soon, but will leave this open in the hopes that _somebody_ will be able to pick it up and help.

Apologies - as discussed I (happily) haven't spent any time on Windows for a _long_ while :)

[2019-09-12 10:37] jymaiso commented on #53
same problem
i'm using vagrant on my windows 10 machine with hyper-v

[2019-10-15 19:42] muddman commented on #53
same

vagrant 2.2.5
windows 10 1903 (18362.418)

dsc.synced_folder_type = "smb"
dsc.temp_dir = "c:/tmp/vagrant-dsc/"